.jumbo {
  @include flex(row,center);
  background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/hero-painteressentials-7.jpg');
  height: 400px;
  background-position: top;
  background-size: cover;
  .jumbo-left {
    color: $coloreText;
    .jumbo-list {
      li {
        list-style:none;
      }
    }
  }
}

.jumbo-right {
  color: $coloreText;
  opacity: 0.8;
  background-color: black;
  padding: 0px 20px;
  width: 30%;
  h2 {
    display: inline-block;
  }
  img {
    float: right;
  }
  .jumbo-right-down {
    background-color: #e6e6e6;
    color: $coloreTextAlt;
  }
}
