.video-section {
  height: 500px;
  width: 100%;
  margin-top: -19px;
  background-image: url('https://www.painterartist.com/static/ptr/product_content/painteressentials/7/intro.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .video-testo {
    padding-top: 100px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: $coloreText;
  }
}

.slider-section {
  height: 500px;
  width: 100%;
  margin-top: -19px;
  background-color: $coloreText;
  .slider-testo {
    padding-top: 100px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    color: $coloreTextAlt;
  }
}
